<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Grades sugeridas</title>
  <link rel="stylesheet" href="../Static/gradessugeridascss.css">
</head>
<body>

<div class="navbar">
  <div class="logo">
    <img src="../Static/logo.png" width="40px">
  </div>
  <nav>
    <ul>
      <li><a href="../Templates/resumo_da_grade.html" class="link-menu">Minha grade</a></li>
      <li><a href="../Templates/grades-sugeridas.html" class="color">Grades sugeridas</a></li>
      <li><a href="../Templates/questionario.html" class="link-menu">Questionário</a></li>
      <li><a href="../Templates/ajuda.html" class="link-menu">Ajuda</a></li>
      <li><span class="link-menu">Olá, Maria</span></li>
    </ul>
  </nav>
</div>

<div class="conteudo">
  <h2 class="color">Grades sugeridas</h2>
  <span class="subtitulo">Com base nas suas preferências, geramos sugestões de grade que podem funcionar para você. <a href="questionario.html" class="color">Refazer questionário</a></span>
</div>

<div class="grades">
  <div class="caixa">
    <div class="topo-caixa">
      <span class="etiqueta">Opção 1</span>
      <h3 class="color">Equilíbrio entre teoria e prática</h3>
    </div>
    <span>Carga horária: 20 créditos</span>
    <a href="resumo_da_grade.html" class="botao">Usar esta grade</a>
    <table>
      <tr><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th></tr>
      <tr><td>8h-10h Cálculo I<br>10h-12h Filosofia<br>14h-16h Algoritmos</td><td>9h-11h Introdução à Economia<br>16h-18h Inglês Acadêmico</td><td>8h-10h Cálculo I<br>10h-12h Filosofia<br>14h-16h Algoritmos</td><td>9h-11h Introdução à Economia<br>13h-15h Inglês Acadêmico</td><td>-</td></tr>
    </table>
    <span><b>Por que sugerimos?</b> Esta combinação respeita seu turno e distribui bem as disciplinas durante a semana. <a href="#">Ver detalhes</a></span>
  </div>

  <div class="caixa">
    <div class="topo-caixa">
      <span class="etiqueta">Opção 2</span>
      <h3 class="color">Mais aulas pela manhã</h3>
    </div>
    <span>Carga horária: 20 créditos</span>
    <a href="resumo_da_grade.html" class="botao">Usar esta grade</a>
    <table>
      <tr><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th></tr>
      <tr><td>8h-9h Cálculo I<br>9h-10h Empreendedorismo<br>10h-12h Filosofia</td><td>9h-11h Introdução à Economia</td><td>8h-10h Cálculo I<br>10h-12h Filosofia<br>15h-17h Inteligência Artificial</td><td>9h-11h Introdução à Economia</td><td>-</td></tr>
    </table>
    <span><b>Por que sugerimos?</b> Esta combinação respeita seu turno e distribui bem as disciplinas durante a semana. <a href="#">Ver detalhes</a></span>
  </div>

  <div class="caixa">
    <div class="topo-caixa">
      <span class="etiqueta">Opção 3</span>
      <h3 class="color">Com disciplinas eletivas</h3>
    </div>
    <span>Carga horária: 20 créditos</span>
    <a href="resumo_da_grade.html" class="botao">Usar esta grade</a>
    <table>
      <tr><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th></tr>
      <tr><td>8h-10h Cálculo I</td><td>9h-11h Introdução à Economia<br>13h-15h Sociologia<br>16h-18h Inglês Acadêmico</td><td>8h-10h Cálculo I<br>18h-20h Sociologia</td><td>9h-11h Introdução à Economia<br>13h-15h Inglês Acadêmico</td><td>-</td></tr>
    </table>
    <span><b>Por que sugerimos?</b> Esta combinação respeita seu turno e distribui bem as disciplinas durante a semana. <a href="#">Ver detalhes</a></span>
  </div>

  <div class="caixa">
    <div class="topo-caixa">
      <span class="etiqueta">Opção 4</span>
      <h3 class="color">Menos dias na semana</h3>
    </div>
    <span>Carga horária: 20 créditos</span>
    <a href="resumo_da_grade.html" class="botao">Usar esta grade</a>
    <table>
      <tr><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th></tr>
      <tr><td>8h-10h Cálculo I<br>10h-12h Filosofia<br>14h-16h Algoritmos</td><td>9h-11h Introdução à Economia<br>13h-15h Sociologia</td><td>8h-10h Cálculo I<br>10h-12h Filosofia<br>14h-16h Algoritmos<br>18h-20h Sociologia</td><td>9h-11h Introdução à Economia</td><td>-</td></tr>
    </table>
    <span><b>Por que sugerimos?</b> Esta combinação respeita seu turno e distribui bem as disciplinas durante a semana. <a href="#">Ver detalhes</a></span>
  </div>
</div>

</body>
</html>