* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f2eb;
    color: #24364b;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 45px;
    background-color: white;
    border-bottom: 1px solid #ddd6cd;
}

.logo img {
    width: 210px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav a {
    text-decoration: none;
    color: #294c6b;
    padding-bottom: 18px;
}

nav a.selecionado {
    color: #7d1d16;
    border-bottom: 3px solid #7d1d16;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7d1d16;
}


.conteudo {
    padding: 25px 45px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.titulo h1 {
    color: #721b17;
    font-size: 36px;
    margin-bottom: 5px;
}

.titulo p {
    color: #49657c;
}

.busca {
    display: flex;
    gap: 20px;
}

.busca button {
    padding: 12px 25px;
    background-color: white;
    border: 1px solid #9b6a65;
    border-radius: 7px;
    color: #721b17;
}

.busca input {
    width: 240px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
}


.eletivas {
    display: flex;
    gap: 18px;
}

.caixa {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 18px;
    width: 33%;
    min-height: 380px;
}

.caixa.verde {
    border-left: 9px solid #368d4d;
}

.caixa.laranja {
    border-left: 9px solid #f2a01b;
}

.caixa.rosa {
    border-left: 9px solid #e63c5c;
}

.topo-caixa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.topo-caixa span {
    padding: 6px 10px;
    border-radius: 7px;
    background-color: #f2f3f3;
}

.topo-caixa .recomendado {
    background-color: #d5efd9;
    color: #26713a;
}

.topo-caixa .popular {
    background-color: #ffe1c2;
    color: #c25b16;
}

.topo-caixa .demanda {
    background-color: #ffd7df;
    color: #c52c49;
}

.caixa h2 {
    color: #721b17;
    margin-bottom: 4px;
}

.descricao {
    margin-top: 18px;
    margin-bottom: 22px;
    line-height: 1.4;
    min-height: 65px;
}

.info p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.info span {
    color: #49657c;
}

.botao-disciplina {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background-color: white;
    color: #721b17;
    border: 1px solid #8b3833;
    border-radius: 6px;
    font-weight: bold;
}


.aviso {
    margin-top: 30px;
    padding: 20px 25px;
    background-color: white;
    border: 1px solid #ddd6cd;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aviso p {
    margin: 5px 0;
}

.aviso button {
    padding: 13px 25px;
    background-color: white;
    color: #721b17;
    border: 1px solid #8b3833;
    border-radius: 6px;
    font-weight: bold;
}


footer {
    margin-top: 20px;
    padding: 22px 45px;
    background-color: white;
    border-top: 1px solid #ddd6cd;
    color: #49657c;
}

footer b {
    color: #721b17;
}

.puc {
    float: right;
    font-size: 20px;
    font-weight: bold;
}