<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Resumo da Grade | Grade.puc</title>

    <link rel="stylesheet" href="../Static/css/resumo_da_grade.css">
</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <img src="../Static/Logo escolhida GRADE.PUC.png" alt="Logo Grade PUC">
        </div>

        <nav class="menu">
            <a href="#" class="ativo">Minha grade</a>
            <a href="#">Grades sugeridas</a>
            <a href="#">Questionário</a>
            <a href="#">Ajuda</a>
        </nav>

        <div class="perfil">
            <span class="icone-perfil">●</span>
            <span>Olá, Mariana</span>
            <span>⌄</span>
        </div>

    </header>

    <main class="conteudo">
        <section class="titulo">
            <h1>Resumo da grade (Grade Confirmada)</h1>

            <p>
                Confira abaixo a sua grade de horários final.
                Você pode exportar o calendário, editar a grade
                ou acessar o Portal SAU
            </p>
        </section>

        <section class="grade">
            
            <table>

                <thead>
                    <tr>
                        <th>Horários</th>
                        <th>Segunda-feira</th>
                        <th>Terça-feira</th>
                        <th>Quarta-feira</th>
                        <th>Quinta-feira</th>
                        <th>Sexta-feira</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>7:00 - 9:00</td>
                        
                        <td>
                            <div class="disciplina verde">Disciplina A</div>
                        </td>

                        <td>
                            <div class="disciplina verde">Disciplina A</div>
                        </td>

                        <td>
                            <div class="disciplina verde">Disciplina A</div>
                        </td>

                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>9:00 - 11:00</td>

                        <td>
                            <div class="disciplina amarelo">Disciplina B</div>
                        </td>

                        <td>
                            <div class="disciplina amarelo">Disciplina B</div>
                        </td>

                        <td>
                            <div class="disciplina amarelo">Disciplina E</div>
                        </td>

                        <td>
                            <div class="disciplina amarelo">Disciplina F</div>
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>11:00 - 13:00</td>

                        <td>
                            <div class="disciplina verde">Disciplina C</div>
                        </td>

                        <td></td>

                        <td>
                            <div class="disciplina verde">Disciplina C</div>
                        </td>

                        <td>
                            <div class="disciplina amarelo">Disciplina G</div>
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>13:00 - 15:00</td>

                        <td></td>

                        <td>
                            <div class="disciplina amarelo">Disciplina D</div>
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>15:00 - 17:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>17:00 - 19:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                </tbody>

            </table>

        </section>

        <section class="acoes">

            <div class="informacoes">
                <p>Quantidade de disciplinas: <strong>7</strong></p>
                <p>Total de créditos: <strong>22</strong></p>
            </div>

            <div class="botoes">

                <button>
                    📅
                    Exportar Calendário
                </button>

                <button>
                    ✎
                    Editar Grade
                </button>

                <button>
                    ↗
                    Portal SAU PUC
                </button>

            </div>

        </section>

    </main>

    <footer>

        <div class="rodape-esquerdo">
            <strong>grade.puc</strong>
            <span></span>
            <p>Planejamento hoje. Mais conquistas amanhã</p>
        </div>

        <div class="puc">
            PUC-Rio
        </div>

    </footer>

</body>

</html>